
    <p id="notice"><%= notice %></p>

    <%= simple_form_for @user, :url => '/password_change' , :method => 'post'  do  |f| %>

        <%= f.input :password, label: 'Clave' , required:true %>
        <%= f.input :password_confirmation, label: 'Confirmación' , required:true%>

        <%= f.button :submit, value: 'Actualizar' %>
    <% end %>
